.section__title {
  font-family: var(--body2-font);
  text-color: #31353b;
  margin-top: 0rem;
}

.section__subtitle {
  font-family: var(--body-font);
  text-color: #545353;
}

.skills__container {
  column-gap: 4rem;
  align-items: center;
  font-family: var(--body-font);
  margin-right: 18rem;
  padding-top: 3rem;
}
.skills__info {
  grid-template-columns: repeat(5, 200px);
  gap: 0.5rem;
  margin-bottom: var(--mb-3);
}

.skills__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-color: #cfcfcf;
  padding: 18.2703px;
  gap: 1.14px;
  width: 199.26px;
  height: 146.16px;
  border: 1px solid #cfcfcf;
}

.skills__icon {
  margin-bottom: var(--mb-0-5);
  width: 54.81px;
  height: 54.81px;
  border-radius: 9.13514px;
}

.skills__title {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  color: #2e2e48;
  font-family: var(--body-font);
}

.skills__subtitle {
  font-size: var(--tiny-font-size);
  font-family: var(--body-font);
  color: #79819a;
}

/* data2 */

.skills__info2 {
  grid-template-columns: repeat(6, 150px);
  gap: 1rem;
  margin-bottom: var(--mb-2);
}

.skills__box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 18.2703px;
  gap: 1.14px;
  width: 157.58px;
  height: 127.89px;
  border: 1px solid #cfcfcf;
  border-radius: 0px;
}

.skills__icon2 {
  margin-bottom: var(--mb-0-5);
  width: 46.17px;
  height: 64.52px;
}

.skills__title2 {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  color: #2e2e48;
  font-family: var(--body-font);
}

.skills__subtitle2 {
  font-size: var(--tiny-font-size);
  font-family: var(--body-font);
  color: #79819a;
}

/* breakpoints */
/* large */
@media screen and (max-width: 992px) {
  .skills__container {
    grid-template-columns: max-content;
    row-gap: 2rem;
  }
}
/* medium */
@media screen and (max-width: 576px) {
  ..skills__container {
    grid-template-columns: 1fr;
  }
}
/* small */
@media screen and (max-width: 350px) {
  .skills__box {
    column-gap: 1.25rem;
  }
  .skills__box2 {
    column-gap: 1.25rem;
  }
}
